.tags {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.tags > .label {
    margin: 2px;
    cursor: pointer;
    display: inline-block;
}

.tags > .label:hover {
    background-color: #def;
}

.tags > .label > a:hover {
    text-decoration: none;
}

.js-state-list {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.related-tags {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding-left: 0;
    padding-bottom: 15px;
}